## Inventory of greenhouse gas emissions of the Parisian territory (2014 and from 2018 to 2022).

### Importing libraries

In [1]:
import pandas as pd
import requests

### Connecting to Paris Data's API (and testing the response's status code)

In [2]:
params = {"select":"*"}
response = requests.get('https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/inventaire-des-emissions-de-gaz-a-effet-de-serre-du-territoire/records?', params=params)
response.status_code

200

In [3]:
pd.DataFrame(response.json()["results"]).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 18 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   annee                                         7 non-null      object
 1   ges_grd_secteurs_total                        7 non-null      float64
 2   ges_grd_secteurs_energie                      7 non-null      float64
 3   ges_grd_secteurs_transport                    7 non-null      float64
 4   ges_grd_secteurs_consommation                 7 non-null      float64
 5   ges_detail_locales_total                      7 non-null      float64
 6   ges_detail_locales_residentiel                7 non-null      float64
 7   ges_detail_locales_tertiaire                  7 non-null      float64
 8   ges_detail_locales_industrie                  7 non-null      float64
 9   ges_detail_locales_transport                  7 non-null      float64
 10  ges_detail_locales_dechets                    7 non-null      float64
 11  ges_detail_hors_paris_total                   7 non-null      float64
 12  ges_detail_hors_paris_construction_materiaux  7 non-null      float64
 13  ges_detail_hors_paris_transport               7 non-null      float64
 14  ges_detail_hors_paris_transport_aerien        7 non-null      float64
 15  ges_detail_hors_paris_alimentation            7 non-null      float64
 16  ges_detail_hors_paris_amont_energie           7 non-null      float64
 17  evolution                                     6 non-null      float64
dtypes: float64(17), object(1)
memory usage: 1.1+ KB

### Retrieving the dataset as a .csv and converting it to a DataFrame

In [4]:
dataset_id = 'inventaire-des-emissions-de-gaz-a-effet-de-serre-du-territoire'
export_url = f'https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/{dataset_id}/exports/csv'
params = {"select": "annee, ges_grd_secteurs_total, ges_grd_secteurs_energie, ges_detail_locales_total, ges_detail_hors_paris_total, ges_detail_hors_paris_amont_energie"}

# Downloading the csv of the full dataset
response = requests.get(export_url, params=params)
with open(f"{dataset_id}_Paris_Data.csv", "wb") as f:
    f.write(response.content)

# Converting the csv into a DataFrame
df = pd.read_csv(f"{dataset_id}_Paris_Data.csv", sep=";")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   annee                                7 non-null      int64
 1   ges_grd_secteurs_total               7 non-null      float64
 2   ges_grd_secteurs_energie             7 non-null      float64
 3   ges_detail_locales_total             7 non-null      float64
 4   ges_detail_hors_paris_total          7 non-null      float64
 5   ges_detail_hors_paris_amont_energie  7 non-null      float64
dtypes: float64(5), int64(1)
memory usage: 468.0 bytes

In [6]:
df.head(10)

,annee,ges_grd_secteurs_total,ges_grd_secteurs_energie,ges_detail_locales_total,ges_detail_hors_paris_total,ges_detail_hors_paris_amont_energie
0,2020,17.20,4.5,4.70,12.50,1.10
1,2004,28.30,6.2,7.40,20.90,1.50
2,2018,22.60,4.9,5.30,17.40,1.30
3,2021,18.54,4.5,4.82,13.72,1.14
4,2014,24.40,5.2,6.00,18.40,1.30
5,2019,22.00,4.7,5.30,16.70,1.30
6,2022,19.27,4.3,4.72,14.55,1.10

### Getting rid of years prior 2014

In [7]:
df = df[df["annee"] >= 2014]
df.head(10)

,annee,ges_grd_secteurs_total,ges_grd_secteurs_energie,ges_detail_locales_total,ges_detail_hors_paris_total,ges_detail_hors_paris_amont_energie
0,2020,17.20,4.5,4.70,12.50,1.10
2,2018,22.60,4.9,5.30,17.40,1.30
3,2021,18.54,4.5,4.82,13.72,1.14
4,2014,24.40,5.2,6.00,18.40,1.30
5,2019,22.00,4.7,5.30,16.70,1.30
6,2022,19.27,4.3,4.72,14.55,1.10

In [8]:
df.to_csv(f"{dataset_id}_Paris_Data.csv", sep=";", index=False)