## Evolution of types of waste produced by Parisians (from 2019 to 2023).

### Importing libraries

In [1]:
import pandas as pd
import requests

### Connecting to Paris Data's API (and testing the response's status code)

In [2]:
params = {"select":"*"}
response = requests.get('https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/quantite-de-dechets-produits-et-tries-par-habitant-et-par-an/records?', params=params)
response.status_code

200

In [3]:
pd.DataFrame(response.json()["results"]).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   annee                           10 non-null     object
 1   type_de_dechets                 10 non-null     object
 2   quantite                        10 non-null     float64
 3   variation_annuelle_des_dechets  10 non-null     float64
dtypes: float64(2), object(2)
memory usage: 452.0+ bytes

### Retrieving the dataset as a .csv and converting it to a DataFrame

In [4]:
dataset_id = 'quantite-de-dechets-produits-et-tries-par-habitant-et-par-an'
export_url = f'https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/{dataset_id}/exports/csv'
params = {"select": "*"}

# Downloading the csv of the full dataset
response = requests.get(export_url, params=params)
with open(f"{dataset_id}_Paris_Data.csv", "wb") as f:
    f.write(response.content)

# Converting the csv into a DataFrame
df = pd.read_csv(f"{dataset_id}_Paris_Data.csv", sep=";")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 4 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   annee                           25 non-null     int64
 1   type_de_dechets                 25 non-null     object
 2   quantite                        25 non-null     float64
 3   variation_annuelle_des_dechets  25 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 932.0+ bytes

In [6]:
df.head(10)

,annee,type_de_dechets,quantite,variation_annuelle_des_dechets
0,2019,‚ôªÔ∏è Multimat√©riaux,40.0,0.0
1,2021,üóëÔ∏è Ordures m√©nag√®res r√©siduelles,300.0,4.0
2,2019,‚ôªÔ∏è Emballages en verre,34.0,0.0
3,2020,‚ôªÔ∏è Emballages en verre,29.0,-5.0
4,2022,‚ôªÔ∏è D√©chets occasionnels,61.0,11.0
5,2020,‚ôªÔ∏è D√©chets occasionnels,42.0,-6.0
6,2023,üóëÔ∏è Ordures m√©nag√®res r√©siduelles,307.0,-9.0
7,2022,‚ôªÔ∏è Biod√©chets,1.0,0.0
8,2020,‚ôªÔ∏è Multimat√©riaux,34.0,-6.0
9,2023,‚ôªÔ∏è D√©chets occasionnels,44.0,-17.0

In [7]:
df.to_csv(f"{dataset_id}_Paris_Data.csv", sep=";", index=False)