## Paris' cycles lanes cumulated length in km, from 2015 to 2024.

### Importing libraries

In [1]:
import pandas as pd
import requests

### Connecting to Paris Data's API (and testing the response's status code)

In [2]:
params = {"select":"*"}
response = requests.get('https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/lineaire-cyclable-km/records?',params=params)
response.status_code

200

In [3]:
pd.DataFrame(response.json()["results"])

  annee  longueur     mois  year          date
0  2023      1441  janvier  2023  janvier 2023
1  2021      1360  janvier  2021  janvier 2021
2  2024      1487  janvier  2024  janvier 2024
3  2018      1059  janvier  2018  janvier 2018
4  2020      1240  janvier  2020  janvier 2020
5  2019      1134  janvier  2019  janvier 2019
6  2016       962  janvier  2016  janvier 2016
7  2025      1565  janvier  2025  janvier 2025
8  2015       935  janvier  2015  janvier 2015
9  2022      1402  janvier  2022  janvier 2022

### Retrieving the dataset as a .csv and converting it to a DataFrame

In [4]:
dataset_id = 'lineaire-cyclable-km'
export_url = f'https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/{dataset_id}/exports/csv'
params = {"select": "annee, longueur"}

# Downloading the csv of the full dataset and saving it locally
response = requests.get(export_url, params=params)
with open(f"{dataset_id}_Paris_Data.csv", "wb") as f:
    f.write(response.content)

# Converting the csv into a DataFrame with relevant columns
df = pd.read_csv(f"{dataset_id}_Paris_Data.csv", sep=";")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   annee     11 non-null     int64
 1   longueur  11 non-null     int64
dtypes: int64(2)
memory usage: 308.0 bytes

In [6]:
df.head()

   annee  longueur
0   2023      1441
1   2022      1402
2   2018      1059
3   2019      1134
4   2017      1000