## Compounded size of urban agriculture areas in Paris between 2020 and 2024

### Importing libraries

In [1]:
import pandas as pd
import requests

### Connecting to Paris Data's API (and testing the response's status code)

In [2]:
params = {"select":"*"}
response = requests.get('https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/surface-d-agriculture-urbaine-dans-paris/records?',params=params)
response.status_code

200

In [3]:
pd.DataFrame(response.json()["results"])

  annees  surface_cumulee_d_agriculture_urbaine_en_hectares
0   2020                                               25.4
1   2021                                               28.9
2   2023                                               35.7
3   2022                                               29.9
4   2024                                               37.0

### Retrieving the dataset as a .csv and converting it to a DataFrame

In [4]:
dataset_id = 'surface-d-agriculture-urbaine-dans-paris'
export_url = f'https://opendata.paris.fr/api/explore/v2.1/catalog/datasets/{dataset_id}/exports/csv'
params = {"select": "*"}

# Downloading the csv of the full dataset
response = requests.get(export_url, params=params)
with open(f"{dataset_id}_Paris_Data.csv", "wb") as f:
    f.write(response.content)

# Converting the csv into a DataFrame
df = pd.read_csv(f"{dataset_id}_Paris_Data.csv", sep=";")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   annees                                             5 non-null      int64
 1   surface_cumulee_d_agriculture_urbaine_en_hectares  5 non-null      float64
dtypes: float64(1), int64(1)
memory usage: 212.0 bytes

In [6]:
df.head()

   annees  surface_cumulee_d_agriculture_urbaine_en_hectares
0    2020                                               25.4
1    2021                                               28.9
2    2023                                               35.7
3    2022                                               29.9
4    2024                                               37.0